.card-titlebar {
  @apply relative flex items-center;

  .card-titlebar-title,
  .card-titlebar-secondary {
    @apply relative flex h-14 items-center justify-center px-6 py-2.5;

    &::before,
    &::after {
      @apply absolute;
      content: '';
      bottom: -1px;
    }

    & > * {
      @apply size-full overflow-hidden;
    }

    &.card-titlebar-secondary::before {
      @apply z-[-1];
      left: 0;
      bottom: 0;
      height: 4rem;
      width: 4rem;
      border-bottom-left-radius: 2rem;
      box-shadow: 0 2rem var(--border);
    }

    &.card-titlebar-title {
      @apply bg-card flex-auto shrink-0 rounded-t-4xl border border-b-0;

      &::before {
        @apply z-[0];
        right: -4rem;
        height: 4rem;
        width: 4rem;
        border-bottom-left-radius: 2rem;
        box-shadow: 0 2rem var(--card);
      }

      &::after {
        @apply border-card w-full border-t;
      }
    }

    &.card-titlebar-secondary {
      @apply min-w-25 basis-2/4;
    }
  }

  .card-titlebar-title {
    @apply text-lg leading-none font-semibold;
  }
}

.card-footer {
  @apply relative flex items-center justify-between;

  .card-footer-primary,
  .card-footer-secondary {
    @apply relative flex h-14 items-center justify-center px-6 py-2.5;

    &::before,
    &::after {
      @apply absolute;
      content: '';
      top: -1px;
    }

    & > * {
      @apply size-full overflow-hidden;
    }

    &.card-footer-primary::before {
      @apply z-[-1];
      left: 0;
      top: 0;
      height: 4rem;
      width: 4rem;
      border-top-left-radius: 2rem;
      box-shadow: 0 -2rem var(--border);
    }

    &.card-footer-secondary {
      @apply bg-card basis-1/4 rounded-b-4xl border border-t-0;

      &::before {
        @apply z-[0];
        right: -4rem;
        height: 4rem;
        width: 4rem;
        border-top-left-radius: 2rem;
        box-shadow: 0 -2rem var(--card);
      }

      &::after {
        @apply border-card w-full border-t;
      }
    }
  }
}
